.addition__title {
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.addition__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $text_grey;
}

@media (min-width: $tablet) {
  .addition__title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 24px;
  }

  .addition__wrapper {
    display: flex;
    text-align: right;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 24px;
  }

  .addition__value {
    margin-right: 52px;
  }
}



@media (min-width: $desktop) {
  .addition__value {
    margin-right: 0;
  }

  .addition__title {
    margin-right: auto;
    padding-bottom: 0;
  }

  .addition__wrapper {
    width: 284px;
    padding-bottom: 0;
  }
}
