.addit-catalog {
  box-sizing: border-box;
  padding-top: 31px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 39px;
}

.addit-catalog__title {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $text_black;
}

.addit-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addit-catalog__item {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid $bg_grey;
}

.addit-catalog__button {
  width: 100%;
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 12px;
}

@media (min-width: $tablet) {
  .addit-catalog {
    padding-top: 75px;
    padding-bottom: 69px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .addit-catalog__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
    border: 1px solid #cdcdcd;
  }

  .addit-catalog__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop) {
  .addit-catalog {
    width: $desktop;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .addit-catalog__title {
    width: 100%;
  }

  .addit-catalog__item {
    align-items: center;
    border-left: none;
    border-right: none;
    width: 895px;
    padding-top: 27px;
    padding-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
  }

  .addit-catalog__button {
    width: 245px;
  }
}
