.catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 22px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin: 0;
  padding: 0;
  padding: 25px 20px;
}
