.catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 22px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .catalog {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .catalog__item {
    margin-top: 60px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .catalog {
    width: $desktop;
    margin: 0 auto;
  }
}
