.checkboxes__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkboxes__caption {
  padding-bottom: 31px;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $text_black;
}

.checkboxes__item {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  padding-left: 36px;
}

.checkboxes__title {
  position: relative;
  @include generate_label();

  &:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: -36px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }
}

.checkboxes__field:checked + .checkboxes__title::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkboxes__field:hover + .checkboxes__title::before {
  border-color: #bababa;
}

.checkboxes__field:focus + .checkboxes__title::before {
  border-color: #bababa;
}

.checkboxes__field:active + .checkboxes__title::before {
  opacity: 0.3;
}

.checkboxes__field:active + .checkboxes__title {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .checkboxes__caption {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 53px;
  }

  .checkboxes__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .checkboxes__item {
    width: 40%;
    padding-bottom: 53px;
    padding-left: 33px;
  }

  .checkboxes__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .checkboxes {
    padding-right: 98px;
  }

  .checkboxes__item {
    width: 219px;
  }
}
