.comments {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 17px;
  padding-bottom: 31px;
}

.comments__caption {
  padding-bottom: 31px;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $text_black;
}

.comments__field {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  &::placeholder {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text_grey;
  }
}

@media (min-width: $tablet) {
  .comments {
    margin-top: 97px;
    padding-bottom: 69px;
  }

  .comments__caption {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 71px;
    padding-bottom: 0
  }

  .comments__field {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
