.contacts {
  padding-top: 29px;
  padding-left: 19px;
  padding-bottom: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;

  &--grey {
    background-color: $bg_grey;
  }
}

.contacts__intro {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text_black;
  font-weight: 400;
  width: 236px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $text_grey;

  &:first-child {
    min-width: 135px;
  }

  &:nth-child(2) {
    display: inline;
  }
}


@media (min-width: $tablet) {
  .contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 54px;
    padding-left: 71px;
    padding-right: 72px;
  }

  .contacts__intro {
    width: 154px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:last-child {
      margin-top: 20px;
    }

    &:nth-child(2) {
      display: block;
    }
  }
}

@media (min-width: $desktop) {
  .contacts--grey {
    background-color: #ffffff;
  }

  .contacts {
    position: absolute;
    z-index: 1000;
    width: 404px;
    top: 97px;
    left: 41px;
    padding-top: 65px;
    padding-bottom: 52px;
    padding-left: 76px;
    padding-right: 90px;
  }

  .contacts__text {
    text-align: left;
  }
}
