.copyright__link {
  position: relative;
  display: block;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text_grey;

  &:hover .copyright__icon {
    fill: #68b738;
  }

  &:focus .copyright__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon {
    fill: rgba(104, 183, 56, 0.3);
  }
}

.copyright__icon {
  position: absolute;
  top: -7px;
  right: 20px;
  width: 27px;
  height: 34px;
}
