.expand {
  position: relative;
  padding-top: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expand__title {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text_black;

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 31px;
    height: 2px;
    background-color: $bg_grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 31px;
    background-color: $bg_grey;
  }
}

.expand__slogan {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $text_grey;
  margin-top: 11px;
  text-align: center;
}

.expand__button {
  width: 100%;
  display: inline-block;
  margin-top: 22px;
  padding-top: 13px;
  padding-bottom: 12px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $text_grey;
  background-color: $bg_grey;
  text-transform: uppercase;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet) {
  .expand {
    padding-top: 166px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 324px;
    border: 1px solid $bg_grey;
  }

  .expand__title {
    text-align: center;
    font-size: 20px;
    max-width: 134px;
  }

  .expand__slogan {
    max-width: 166px;
    font-size: 16px;
    text-align: center;
  }

  .expand__button {
    margin-top: 85px;
  }
}

@media (min-width: $desktop) {
  .expand {
    width: 245px;
  }
}
