.form-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .form-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: $desktop) {
  .form-container {
    padding-left: 0;
    padding-right: 0;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}
