.page-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  padding-top: 11px;
}

.page-header__logo {
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 45px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }
}

@media (min-width: $desktop) {
  .page-header {
    padding-top: 53px;
    padding-bottom: 0;
    margin-bottom: 83px;
    &--main-page {
      color: #ffffff;
    }

    &--catalog {
      margin-bottom: 64px;
    }

    &--form {
      margin-bottom: 67px;
    }
  }

  .page-header__logo {
    vertical-align: bottom;
    padding-bottom: 0;
  }
}
