.page-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__logo {
  margin-left: 20px;
}

@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }
}
