.page-footer {
  position: relative;
  background-color: $bg_grey;
}

.page-footer__contacts {
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  background-color: #ffffff;
}

.page-footer__map {
  width: 100%;
  height: 372px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 29px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding-bottom: 31px;
}

.page-footer__copyright {
  position: relative;
  padding-bottom: 31px;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 59px;
    padding-bottom: 64px;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__social {
    padding: 0;
    margin-left: 19px;
  }

  .page-footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    padding-top: 62px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
