.page-footer {
  position: relative;
  background-color: $bg_grey;
}

.page-footer__contacts {
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  background-color: #ffffff;
}

.page-footer__map {
  width: 100%;
  min-height: 372px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 115px 110px, center;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__copyright {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .page-footer__map {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 80px;
  }

  .page-footer__logo {
    padding: 0;
  }

  .page-footer__social {
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
