.page-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  padding-top: 11px;
}


@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }
}

@media (min-width: $desktop) {
  .page-header {
    &--main-page {
      padding-top: 77px;
      padding-right: 100px;
      color: #ffffff;
    }
  }
}
