.preview {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $bg_green;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #64a83b 60%, #ffffff 60%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto, 100% 100%;
}

.preview__title {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.preview__slogan {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 29px + 42px;
}

.preview__link {
  width: 100%;
  @include generate_link();
  padding-top: 14px;
  padding-bottom: 11px;
}

@media (min-width: $tablet) {
  .preview {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 700px;
    padding-left: 120px;
    background-color: #ffffff;
    background-image: none;
  }

  .preview__title {
    font-size: 60px;
    padding-right: 190px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .preview__slogan {
    padding-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .preview__image {
    position: absolute;
  }

  .preview__link {
    width: 245px;
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .preview {
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    background-color: #ffffff;
    background-image: none;
    background-size: auto;
    height: auto;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      top: -149px;
      left: 50%;
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 50%;
      height: 696px;
      z-index: -1;
    }
  }

  .preview__image {
    left: 50%;
    transform: translateX(-50%);
  }

  .preview__title {
    max-width: 420px;
  }
}
