.product__table {
  padding-bottom: 23px;
  font-size: 12px;
  line-height: 16px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text_black;
}

.product__button {
  margin-top: 23px;
  padding: 14px 108px 11px 108px;
}

.product__wrapper {
  padding-bottom: 23px;
}
