.selection__title {
  margin: 0;
  padding: 0;
  border-top: 1px solid $bg_grey;
  padding-top: 16px;
  padding-bottom: 26px;
}

.selection__text {
  display: block;
  padding-bottom: 39px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text_black;
  max-width: 230px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .selection {
    margin-bottom: 72px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .selection__title {
    padding: 0;
    border: none;
    margin-bottom: 56px;
    font-size: 60px;
    line-height: 60px;
  }

  .selection__text {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    min-width: 330px;
    margin-left: 40px;
  }
}

@media (min-width: $desktop) {
  .selection {
    margin-bottom: 82px;
  }

  .selection__text {
    margin-left: 0;
  }
}
