.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
  width: 316px;
}

@media (min-width: $tablet) {
  .slider {
    padding-right: 0;
    padding-bottom: 68px;
    padding-left: 13px;
  }

  .slider__wrapper {
    padding-bottom: 18px;
    width: 690px;
  }
}

@media (min-width: $desktop) {
  .slider {
    padding-left: 0;
  }
  .slider__wrapper {
    padding-bottom: 35px;
  }
}
