.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  width: 310px;
}

@media (min-width: $tablet) {
  .slider {
    padding-bottom: 75px;
  }

  .slider__wrapper {
    padding-bottom: 21px;
    width: 690px;
  }
}
