.social__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 21px;
  list-style: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.social__icon {
  fill: currentColor;
}

.social__link {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:focus {
    color: #68b738;
  }

  &:active {
    opacity: 0.3
  }
}

@media (min-width: $tablet) {
  .social__list {
    border: none;
    padding: 0;
  }

  .social__item {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
