.social__list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 21px;
  list-style: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: $tablet) {
  .social__list {
    border: none;
    padding: 0;
  }

  .social__item {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
}
