.special-offer {
  background-color: $bg_green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.special-offer__slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
