.spec__row {
  font-family: $arial;
}

.spec__field {
  padding-right: 56px;
}

.spec__value {
  text-align: right;
}

@media (min-width: $tablet) {
  .spec__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}
