.targets {
  margin-top: 22px;
}

.targets__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 22px;
  padding-right: 22px;
}

.targets__item {
  margin: 0;
  padding: 0;
  padding: 22px 21px 22px 36px;
  background-color: #f2f2f2;
}

.targets__title {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  padding-left: 71px;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.targets__description {
  margin: 0;
  padding: 0;
}
.targets__link {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
