.targets {
  box-sizing: border-box;
  padding-bottom: 16px;
}

.targets__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.targets__item {
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-right: 36px;
  padding-bottom: 20px;
  padding-left: 19px;
  background-color: $bg_grey;

  &:last-child {
    margin-bottom: 0;
  }
}

.targets__title {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 28px;
  padding-left: 71px;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  color: $text_black;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $bg_green;
    border-radius: 50%;
    top: -7px;
    left: 3px;
    z-index: 1;
  }

  &--slim::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 49px;
    top: -10px;
    left: 10px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }

  &--pro::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 2px;
    left: -5px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

.targets__description {
  margin: 0;
  padding: 0;
  font-family: $arial;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 18px;
}

.targets__link {
  display: inline-block;
  position: relative;
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $text_black;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 12px;
    top: 1px;
    left: 96px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }

  &:hover::after {
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:focus::after {
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .targets {
    padding-bottom: 44px;
  }

  .targets__item {
    padding-top: 77px;
    padding-bottom: 62px;
    padding-left: 55px;
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  .targets__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
    margin-bottom: 26px;
    padding-bottom: 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 18px;
      left: 63%;
    }

    &--slim::after {
      width: 141px;
      height: 194px;
      top: 7px;
      left: 68%;
    }

    &--pro::after {
      width: 268px;
      height: 113px;
      top: 60px;
      left: 58%;
    }
  }

  .targets__description {
    border: none;
    padding-bottom: 0;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
    max-width: 377px;

    &--pro {
      max-width: 344px;
    }
  }

  .targets__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 130px;
    }

    &--pro::after {
      left: 125px;
    }
  }
}

@media (min-width: $desktop) {
  .targets {
    box-sizing: border-box;
    width: 1220px;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 73px;
  }

  .targets__list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .targets__item {
    padding-left: 52px;
    padding-top: 75px;
    box-sizing: border-box;
    margin-top: 0;
    width: 570px;
    padding-right: 50px;
    margin-bottom: 0;
  }

  .targets__title {
    padding-left: 161px;
    margin-bottom: 76px;

    &::before {
      width: 100px;
      height: 100px;
      top: -28px;
      left: 0;
    }

    &--slim::after {
      width: 71px;
      height: 91px;
      top: -30px;
      left: 9px;
    }

    &--pro::after {
      width: 134px;
      height: 57px;
      top: -10px;
      left: -21px;
    }
  }

  .targets__description {
    max-width: none;
    padding-bottom: 29px;
    margin-bottom: 0;
  }

  .targets__link {
    padding-top: 0;

    &::after {
      top: 5px;
    }
  }
}
