.texts {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
}

.texts__caption {
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $text_black;
}

.texts__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
  color: #222222;
}

.texts__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}

.texts__field {
  padding: 15px;
  border: 1px solid #cdcdcd;
  flex-grow: 1;

  &::placeholder {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text_grey;
  }

  &:active {
    border-color: $text_grey;
  }

  &:active + .texts__image {
    fill: #68b738;
  }
}

.texts__image {
  position: absolute;


  &--mail {
    top: 15px;
    right: 13px;
    width: 18px;
    height: 14px;
    fill: #222222;
  }

  &--phone {
    top: 13px;
    right: 13px;
    width: 21px;
    height: 21px;
    fill: #222222;
  }
}

@media (min-width: $tablet) {
  .texts {
    padding-top: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .texts__title {
    font-size: 20px;
    line-height: 20px;
  }

  .texts__field {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 17px;
    padding-right: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .texts__caption {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop) {
  .texts {
    padding-left: 0;
    padding-right: 0;
  }
  .texts__wrapper {
    width: 570px;
  }
}
