.total {
  padding-bottom: 35px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total__item {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $text_black;
  font-weight: 400;

  &:first-child {
    margin-right: 5px;
  }
}

@media (min-width: $tablet) {
  .total {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 185px;
    text-align: right;
    padding-bottom: 0;
  }

  .total__item {
    font-size: 20px;
    line-height: 20px;

    &:first-child {
      padding-bottom: 11px;
    }
  }
}

@media (min-width: $desktop) {
  .total {
    flex-direction: row;
    width: 100%;
    margin-left: -52px;
  }

  .total__item {
    &:first-child {
      padding-bottom: 0;
      margin-right: 64px;
    }
  }

}
